* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DFD6ED;
    width: 100vw;
    overflow-x: hidden;
    
    

}



.NavBar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    /* margin-bottom: 10%; */
    align-items: center;
    color: #FFF;
    font-family: Miriam Libre;
    font-size: 28px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    background-color: #8385CB;
    height: 10vh;
    
}

.reg {
    display: flex;
    justify-content: space-around;
}

.Sign_Up {
    display: flex;
    justify-content: center;
    width: 9vw;
    margin-right: 25px;
    border : solid #EBBB42 3px;
    color: #EBBB42;
    border-radius: 20px;
    
}



.Log_in {
    display: flex;
    justify-content: center;
    width: 9vw;
    border : solid #EBBB42 3px;

    color: #EBBB42;
    border-radius: 20px;
}

.Log_in:hover {
    border : solid #FFF 3px;
    background-color: #EBBB42;
    color:#FFF ;
    cursor: pointer;
}

.Sign_Up:hover {
    border : solid #FFF 3px;
    background-color: #EBBB42;
    color:#FFF ;
    cursor: pointer;
}

.Dashboard:hover {
    cursor: pointer;
    border-bottom: solid #EBBB42 5px;


}
.About:hover {
    cursor: pointer;
    border-bottom: solid #EBBB42 5px;

}
.Projects:hover {
    cursor: pointer;
    border-bottom: solid #EBBB42 5px;

}
.Contacts:hover {
    cursor: pointer;
    border-bottom: solid #EBBB42 5px;

}

.user_info {
    display: grid;
    height: 35vh;
    width: 88%;
    margin: 7% auto 2% auto;
    border-radius: 78px;
    background: #FFFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-template-columns: 22% 78%;
}

h1 {
    font-family: Mochiy Pop One,'Arial, Helvetica, sans-serif', sans-serif;
}

.bio {
    font-family: Mochiy Pop One,'Arial, Helvetica, sans-serif', sans-serif;
    width: 86%;
}

.hOnes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
    margin-top: 1%;
}

.username {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.followers {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.following {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    width: 86%;
    height: 1.25%;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 2%;
    margin-bottom: 3%;
}

.Nb_Followers {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Nb_Following {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.FollowersAll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FollowingAll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImg {
    width: 55%;
    height: 55%;
    margin-top: 4vh;
    margin-bottom: 1vh;
}

.pic_type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 5vh;
    border-radius: 30px;
    background: #EBBB42;
    border: none;
    
}

.user_type>h1 {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.aboutMe_posts  {
    display: grid;
    grid-template-columns:30% auto ;
   
    column-gap: 7%;
    margin-left: 14%;
    margin-right: 6%;
    /* position: relative; */
    /* position: sticky; */
    /* height: auto; */
}



.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    height: 65vh;
    width: auto;
    background-color: #FFFCFC;
    
    border-radius: 5%;
    position: sticky;
    /* top: 8vh; */
    top: 15vh;
    /* z-index: -1; */
    
}

.aboutMeDiv {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    width: 100%;
}


.about_me {
    color: #000;
    text-align: center;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4%;
    margin-left: 7%;
}

.number {
    color: #000;
    text-align: center;
    font-family: Miriam Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.phone {
    height: 6vh;
    width: 4vw;
}

.contactNum {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
}

.contactEmail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}
 .mailLogo {
    height: 6vh;
    width: 4vw;
}

.adress {
    color: #000;
    text-align: center;
    font-family: Miriam Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 13vw;
    padding-left: 2vw;
    border-radius: 30px;
    background: #EBBB42;
    color: #000;
    border: none;
    text-align: center;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    padding-bottom: 1%;
    transition: background-color 0.3s;
}

.chat:hover {
    background-color: #d4a01c;
    transition-timing-function: ease-in;
}

.ChatLogo {
    margin-right: 4%;
    height: 5vh;
    width: 4vw;
}

.tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
}



.button {
    border-radius: 10px 25px 10px 10px;
    border : 1px solid #000000;
    background: #FFF;
    height: 6vh;
    width: 15vw;
    color: #000;
    text-align: center;
    font-family: Miriam Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: background-color 0.2s;
}


.button:hover {
    background-color: #777;
    transition-timing-function: ease-in;
}



button:hover {
    cursor: pointer;
}

.posts {
    height: auto;
}

.post {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40vw;
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
    background: #FFF;
}

.picUsername {
    display: flex;
    align-items: center;
}

.profileImgPost {
    height: 8vh;
    width: 5vw;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.username_date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date {
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 4%;
}

.usernamePost {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.description {
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    height: auto;
    margin-bottom: 2%;
}

.like_answer {
    display: flex;
    justify-content: space-between;
}

.button2 {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    color: #000;
    font-family: Mochiy Pop One,Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* width: 5%; */
}

.product {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40vw;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    margin-bottom: 3%;
    border-radius: 20px;
    background: #FFF;
}

.picUsername_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Product_date {
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 4%;
}

.description_price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 8vw;
    border-radius: 30px;
    background: #EBBB42;
    margin-bottom: 2%;
}

.price>h1 {
    font-size: 21px;
}

.product_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Product_chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 8vw;
    border: none;
    border-radius: 30px;
    background: #EBBB42;
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ChatLogoProduct {
    height: 4vh;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
}

.rating>h1 {
    font-size: 22px;
}

.price_rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
}

.adopt {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40vw;
    padding-right: 3%;
    padding-top: 1%;
    padding-left: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
    background: #FFF;
}

.fav {
    height: 4vh;
    width: 4vw;
}


.favButton {
    background-color: #FFF;
    border: none; 
}

@media screen and (max-width: 1024px) {
    body {
        width: 100vw;
    }
    .NavBar {
        display: none;
    }

    .username,.followers,.Nb_Followers,.following
    ,.Nb_Following,.bio,.user_type>h1,.about_me,.number
    ,.adress,.description,.price>h1,.button,button {
        font-size: 16px;
    }

    .user_info {
        width: 100%;
        border-radius: 0;
        grid-template-columns: 33% auto;
        height: 22vh;
    }

    .info {
        padding-left: 5%;
        box-sizing: border-box;
    }

    .profileImg {
        margin-top: 1vh;
    }

    .user_type {
        width: auto;
        height: auto;
    }

    .pic_type {
        height: auto;
        
    }

    .aboutMe_posts {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        position: static;
        margin: 0;
        margin-right: 0;
        padding: 0;
        width: 100vw;
        border-radius: 0;
        height: 25vh;
        margin-bottom: 3vh;
    }

    .aboutMeDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }


    .tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2vh;
    }

    .button {
        width: 23vw;
        height: 4vh;
    }



    .chat {
        font-size: 18px;
        margin: 0;
        margin-top: 1vh;
        padding: 0;
        width: 13vw;
        height: auto;
    }

    .ChatLogo {
        display: none;
    }

    .phone,.mailLogo {
        height: auto;
    }

    .about_me,.contactEmail,.contactNum {
        margin: 0;
        padding: 0 ;
        height: auto;
        margin-bottom: 1vh;
    }

    .about_me {
        margin-top: 1vh;
        margin-left: 10vw;
    }

    .post,.product,.adopt {
        width: 95vw;
        border-radius: 10px;
        margin: 0;
        margin-bottom: 1vh;
        padding: 1% 2%;
        box-sizing: border-box;
    }

    .usernamePost,.date,.Product_date {
        font-size: 18px;
    }

    .profileImgPost{
        width: 7vw;
        height: 8vh;
    }

    .reactPic {
        width: 10vw;
        height: 7vh;
        margin-top: 1vh;
    }

    .button2 {
        font-size: 16px;
    }

    .Product_chat {
        font-size: 14px;
        width: 13vw;
        height: auto;
    }

    .ChatLogoProduct {
        display: none;
    }

    .price>h1 {
        font-size: 17px;
    }

    .price {
        width: 15vw;
        height: 4vh;
    }

    .rating>h1 {
        font-size: 20px;
    }

    .star {
        height: 5vh;
        width: 5vw;
    }

    .fav {
        height: 5vh;
        width: 5vw;
    }
}

@media screen and (max-width: 769px) {
    body {
        width: 100vw;
    }
    .NavBar {
        display: none;
    }

    .username,.followers,.Nb_Followers,.following
    ,.Nb_Following,.bio,.user_type>h1,.about_me,.number
    ,.adress,.description,.price>h1,.button,button {
        font-size: 16px;
    }

    .user_info {
        width: 100%;
        border-radius: 0;
        grid-template-columns: 33% auto;
        height: 20vh;
    }

    .info {
        padding-left: 5%;
        box-sizing: border-box;
    }

    .profileImg {
        margin-top: 1vh;
    }

    .user_type {
        width: auto;
        height: auto;
    }

    .pic_type {
        height: auto;
        
    }

    .aboutMe_posts {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        position: static;
        margin: 0;
        margin-right: 0;
        padding: 0;
        width: 100vw;
        border-radius: 0;
        height: auto;
        margin-bottom: 1vh;
    }

    .aboutMeDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        margin-bottom: 1vh;
    }


    .tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2vh;
    }

    .button {
        width: 23vw;
        height: 10vh;
    }

    .chat {
        font-size: 16px;
        margin: 0;
        padding: 0;
        width: 13vw;
        height: auto;
    }

    .ChatLogo {
        display: none;
    }

    .phone,.mailLogo {
        height: auto;
    }

    .about_me,.contactEmail,.contactNum {
        margin: 0;
        padding: 0 ;
        height: auto;
        margin-bottom: 1vh;
    }

    .about_me {
        margin-top: 1vh;
        margin-left: 10vw;
    }

    .post,.product,.adopt {
        width: 95vw;
        border-radius: 10px;
        margin: 0;
        margin-bottom: 1vh;
        padding: 1% 2%;
        box-sizing: border-box;
    }

    .usernamePost,.date,.Product_date {
        font-size: 16px;
    }

    .profileImgPost{
        width: 8vw;
        height: 5vh;
    }

    .reactPic {
        width: 8vw;
        height: 5vh;
    }

    .button2 {
        font-size: 16px;
    }

    .Product_chat {
        font-size: 14px;
        width: 13vw;
        height: auto;
    }

    .ChatLogoProduct {
        display: none;
    }

    .price>h1 {
        font-size: 16px;
    }

    .price {
        width: 17vw;
        height: 2vh;
    }

    .rating>h1 {
        font-size: 16px;
    }

    .star {
        height: 4vh;
        width: 7vw;
    }

    .fav {
        height: 5vh;
        width: 5vw;
    }
}


@media screen and (max-width: 450px) {
    body {
        width: 100vw;
    }
    .NavBar {
        display: none;
    }

    .username,.followers,.Nb_Followers,.following
    ,.Nb_Following,.bio,.user_type>h1,.about_me,.number
    ,.adress,.description,.price>h1,.button,button {
        font-size: 10px;
    }

    .user_info {
        width: 100%;
        border-radius: 0;
        grid-template-columns: 33% auto;
        height: 17vh;
    }

    .info {
        padding-left: 5%;
        box-sizing: border-box;
    }

    .profileImg {
        margin-top: 1vh;
    }

    .user_type {
        width: auto;
        height: auto;
    }

    .pic_type {
        height: auto;
        
    }

    .aboutMe_posts {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        position: static;
        margin: 0;
        margin-right: 0;
        padding: 0;
        width: 100vw;
        border-radius: 0;
        height: auto;
        margin-bottom: 1vh;
    }

    .aboutMeDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        margin-bottom: 1vh;
    }


    .tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2vh;
    }

    .button {
        width: 23vw;
        height: auto;
    }

    .chat {
        font-size: 14px;
        margin: 0;
        padding: 0;
        width: 13vw;
        height: auto;
    }

    .ChatLogo {
        display: none;
    }

    .phone,.mailLogo {
        height: auto;
    }

    .about_me,.contactEmail,.contactNum {
        margin: 0;
        padding: 0 ;
        height: auto;
        margin-bottom: 1vh;
    }

    .about_me {
        margin-top: 1vh;
        margin-left: 10vw;
    }

    .post,.product,.adopt {
        width: 95vw;
        border-radius: 10px;
        margin: 0;
        margin-bottom: 1vh;
        padding: 1% 2%;
        box-sizing: border-box;
    }

    .usernamePost,.date,.Product_date {
        font-size: 12px;
    }

    .profileImgPost{
        width: 8vw;
        height: 5vh;
    }

    .reactPic {
        width: 8vw;
        height: 5vh;
    }

    .button2 {
        font-size: 10px;
    }

    .Product_chat {
        font-size: 14px;
        width: 13vw;
        height: auto;
    }

    .ChatLogoProduct {
        display: none;
    }

    .price>h1 {
        font-size: 10px;
    }

    .price {
        width: 17vw;
        height: 2vh;
    }

    .rating>h1 {
        font-size: 15px;
    }

    .star {
        height: 4vh;
        width: 7vw;
    }

    .fav {
        height: 5vh;
        width: 5vw;
    }

}
